<div class="container">
  <h2>Expense Table</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date of Purchase</th>
        <th>Location</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Comment</th>
      </tr>
    </thead>


    <tbody>
    	<% @expenses.each do |expense| %>
    		<tr>
					<td><%= expense.dop.strftime("%Y/%b/%d") %></td>
					<td><%= expense.location %></td>
					<td><%= expense.category %></td>
					<td><%= number_to_currency( expense.amount) %></td>
					<td><%= expense.comment %></td>
    		</tr>
			<% end %>
    </tbody>
  </table>
</div>